<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 1. 手动实现双向绑定 -->
        <!-- <input type="text" v-bind:value="message" v-on:input="inputChange"> -->

        <!-- 2. v-model 实现双向绑定 -->
        <!-- <input type="text" v-model="message"> -->

        <!-- 3. 登陆功能 -->
        <label for="account">
            账号：<input type="text" id="account" v-model="account">
        </label>
        <label for="password">
            密码：<input type="password" id="password" v-model="password">
        </label>

        <button @click="login">login</button>
        <h2>{{message}}</h2>
    </div>
    <script src="../lib/Vue.js"></script>
    <script>
        const App = Vue.createApp({
            data() {
                return {
                    message: 'Hello Vue.',
                    account: '',
                    password: ''
                }
            },
            methods: {
                inputChange(event) {
                    this.message = event.target.value
                },
                login() {
                    console.log('this.account', this.account)
                    console.log('this.password', this.password)
                }
            }
        })

        App.mount('#app')
    </script>
</body>
</html>